.App {
	position: relative;
	display: flex;
	justify-content: center;
}

.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.input {
	opacity: 0;
}

.redux-logo {
	position: absolute;
	width: 100px;
	height: 90px;
	top: 500px;
	left: 500px;
}

@media (prefers-reduced-motion: no-preference) {
	.img {
		animation: App-logo-spin infinite 10s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
