.App {
	position: relative;
	display: flex;
	justify-content: center;
}

.car {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.car__left {
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.input {
	opacity: 0;
}

.house {
	position: absolute;
	width: 100px;
	height: 90px;
	top: 500px;
	left: 500px;
}
